
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加校验</title>
<meta http-equiv=="Pragma" CONTENT="no-cache"></meta>
<meta http-equiv="Window-target" CONTENT="_top"></meta>
<!-------样式文件调用注意不要改变顺序------>
<link href="../blue_theme/css/base.css" rel="stylesheet" type="text/css" />
<link href="../blue_theme/css/main_style.css" rel="stylesheet" type="text/css" />
<link href="../blue_theme/css/new_style.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]><link href="../../themes/classic_blue/css/ie7hack.css" rel="stylesheet" type="text/css" media="screen"/><![endif]--><!--不可删--->
<script src="../js/vue.min.js"></script>
<script src="../js/vue-resource.min.js"></script>
<script src="../js/IP.js"></script>
<script src="../js/util.js"></script>
</head>
<body>
<div id="app">
  <!--标题开始-->
<div class="ui-title fn-clear">
  <span class="ui-title-icon fn-left"><img src="../blue_theme/images/icons/document_add.png"/></span>
  <h2 class="ui-title-cnt fn-left"> 资源查询- &nbsp;{{ maketype }}</h2>
  <div class="fn-right">
    <input class="ui-btn ui-btn-normal" type="button" name="button" id=""  value="返回"  title="返回" 
    onclick="javascript:window.location.href='../modules/watch_list.html'"/>
 </div>    
</div>
<!--标题结束-->
<span class="x-line fn-clear">&nbsp;</span><!--我是灰色的分割线-->
<form name="" class="">
<!-- <div class="" style="    width: 50%;margin: 0 auto;"> -->
  <div class="" ></div>
  <div class="ui-form fn-clear">
    <table class="ui-table ui-table-form">
      <tbody class="discolor_form">
       <tr>
          <td class="fn-text-center f18" colspan="4"><label for=""><strong>{{ maketype_msg }}</strong></label></td>
        </tr>
       <tr>
          <td class="ui-form-cl2-l" ><label for="zs">名称</label></td>
          <td class="ui-form-cl2-r " colspan="3">
          	<input type="text" class="ui-input-wdm1" id="sqlname" v-model="sqlname" />
          </td>
        </tr>
         <tr>
          <td class="ui-form-cl2-l" ><label for="zs">类型</label></td>
          <td class="ui-form-cl2-r" colspan="3">
            <select id="type" v-model="type">
              <option value="" selected="selected">请选择</option>
              <option v-for="zylx in zylxArr" :value="zylx.code" :key="zylx.code">{{zylx.name}}</option>
              </select>
          </td>
        </tr>
               <tr>
          <td class="ui-form-cl2-l" ><label for="zs">校验Sql</label></td>
          <td class="ui-form-cl2-r" colspan="3">
            <textarea rows="10" cols="30" style="height: 100px" id="strsql" v-model="strsql"></textarea>
          </td>
        </tr>
       <tr style="height: 100px">
          <td class="ui-form-cl2-l" ><label for="zs">备注</label></td>
          <td class="ui-form-cl2-r ">
          	<textarea rows="10" cols="30" style="height: 100px" id="remarks" v-model="remarks"></textarea>
          </td>
        </tr> 
        <tr v-if="isShow">
          <td class="ui-form-cl2-l" ><label for="zs">状态</label></td>
          <td class="ui-form-cl2-r ">
          	<select id="flag" v-model="flag"> 
                <option value="2">启用</option>
                <option value="1">停用</option>
            </select>
          </td>
        </tr> 
      </tbody>
      </table>
     <!-- <div class="blank_20"></div>-->
      <div class="fn-text-center">
        <input  class="ui-btn ui-btn-blue" type="button" name="button" id="" 
        @click="isok" value="提交"  title="提交" />
        <input  class="ui-btn ui-btn-blue" type="button" name="button" id="" 
        @click="isDel" value="删除"  title="删除" />
       <!-- <input  class="ui-btn ui-btn-normal" type="button" name="button" id=""  value="返回"  title="返回"/>-->
      </div>
  </div>
</div>

<!--表单内容结束-->
</form>
</div>
</body>
<!--                       Javascripts 注意不要改变顺序                      -->
<script type="text/javascript" SRC="../blue_theme/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" SRC="../blue_theme/js/jquery-migrate-1.1.1.min.js"></script>
<!-- 表单隔行背景颜色 -->
<script type="text/javascript" src="../blue_theme/js/trans.table.js"></script>	
<!-- 组件template -->
<script type="text/javascript" src="../blue_theme/js/tpl.base.js"></script>	
<!-- 弹出遮罩层-->
<script type="text/javascript" src="../blue_theme/lhgdialog/lhgdialog.min.js"></script>
<script type="text/javascript" src="../blue_theme/js/popupboxs.js"></script>
<script type="text/javascript" src="../js/IP.js" ></script>

<script>
  const map = zylxArrMap();
  var app =  new Vue({
   el: '#app',
   data: {
     strid: "",
     type: "",
     sqlname: "",
     remarks: "",
     strsql: "",
     flag: "",
     isShow: false,
     maketype: "添加",
     msg: "校验",
     sites: {},
     zylxArr: []
   },
   methods:{
    isok:function(){     
       let _obj = {
          id: this.strid,	
          sqlname: this.sqlname,	
          type: this.type,
			    requestStrsql: this.strsql,
          remarks: this.remarks,
          flag: this.flag	};        
           this.$http.post(ip_address()+'/saveStrsql',_obj,{emulateJSON:true}).then(function(res){
                 if(res.body == 1){
                  alert("操作成功！");
                  if(this.maketype == "添加"){
                    this.sqlname = "";
                    this.type = "";
                    this.strsql = "";
                    this.remarks = "";
                  }
			        }
             },function(res){
                 console.log(res.status);
             });
     },
     isDel:function(){
      let _obj = {id: this.strid};
          this.$http.post(ip_address()+'/delStrsql',_obj,{emulateJSON:true}).then(function(res){   
              if(res.body == '1'){
                alert("操作成功！");
                window.location.href='../modules/watch_list.html';
              }
             },function(res){
                 console.log(res.status);
             });
     },
        zylxByArr:function(){
          this.zylxArr = zylxArrMethod();
          var result;
          var url=window.location.search; //获取url中"?"符后的字串  
          if(url.indexOf("?")!=-1){
              result = url.substr(url.indexOf("=")+1);
              let _obj = {id: result};
              this.$http.post(ip_address()+'/findById',_obj,{emulateJSON:true}).then(function(res){   
              this.strid =  res.body.id;     
               this.sqlname = res.body.sqlname;
               this.type = res.body.type;
               this.strsql = res.body.strsql;
               this.remarks = res.body.remarks;
               this.flag = res.body.flag;
               this.maketype = "编辑";
               this.isShow = true;
             },function(res){
                 console.log(res.status);
             });
          }
        }
   },
   computed : {
       maketype_msg : function(){         
        return this.maketype + this.msg;
     }
   }
 })

 app.zylxByArr();
</script>
</html>
